div {
	border: 20px solid #bdc3c7;
	font-family: source sans pro;
	margin: 20px auto;
	max-width: 700px;
	width: 80%;  /*this is for making it shrink down when you move into smaller screen etc.*/
	padding: 20px;
}

.first {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}



h1 {
	font-weight: bold;
	color: #2c3e50;
	font-size: 2.0rem;
}

.date {
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	color: #3498db;
}

.border {
	border-bottom: 1px solid #bdc3c7;
	padding-bottom: 20px;
}

.style {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}