body {
	padding-top: 70px
}

.jumbotron {
	color: #2c3e50;
	background: #ecf0f1;
}

.navbar-inverse {
	background: #2c3e50;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.image1 {
  background-image: url(https://source.unsplash.com/Okgyv1LLJSQ);
}

.image2 {
  background-image: url(https://source.unsplash.com/-wEFdRCG4IU);
}

.image3 {
  background-image: url(https://source.unsplash.com/n1nDUvnffMc);
}

.image4 {
  background-image: url(https://source.unsplash.com/Wdv2lPHwcmc);
}

.image5 {
  background-image: url(https://source.unsplash.com/tjymdpLMUCA);
}

.image6 {
  background-image: url(https://source.unsplash.com/w7Z0fiZw4Mw);
}

.image7 {
  background-image: url(https://source.unsplash.com/cAbH8B-14Vo);
}

.image8 {
  background-image: url(https://source.unsplash.com/r0V3GE-QYyY);
}

.image9 {
  background-image: url(https://source.unsplash.com/gOcRmhg27QY);
}





.image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center center;
}